{% extends "base.html" %}

{% load static %}

{% block content %}

{% if basket_items %}
<div class="row">
    <div class="col-sm-8 mx-auto">
        <div class="card checkout-card">
            <div class="card-body">
                <h5 class="card-title">Shopping Basket</h5>
                {% for basket_item in basket_items %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Title</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row" class="table-align">
                                    <img class="img-thumbnail image-basket-detail" src="{{ basket_item.tour.tour_image.url }}" alt="">
                                </th>
                                <td>{{ basket_item.tour.tour_title }}</td>
                                <td>{{ basket_item.quantity }}</td>
                                <td>€{{ basket_item.subtotal|floatformat:2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
                <div>
                    <span class="total-alignment"><strong>Total:</strong></span>
                    <span class="total">
                        <strong>€{{ total|floatformat:2 }}</strong>
                    </span>
                </div>
                <hr>
                <a href="{% url 'tours' %}" class="btn btn-primary">Book Another Tour!</a>
                <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
            </div>
        </div>
    </div>
</div>
{% else %}

<div class="basket-margin">
    <div class="card card-body mx-auto image-detail">
        <h5 class="card-title">Your Tour Basket Is Empty</h5>
        <a href="{% url 'tours' %}" class="btn btn-primary mx-auto button-detail">Book A Tour!</a>
    </div>
</div>

{% endif %}

{% endblock %}