{% extends "base.html" %}

{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
        <div class="card checkout-card">
            <div class="card-body">
                <h5 class="card-title decoration">My Profile</h5>
                <div class="row row-margins">
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0 text-black font-decoration">Username:</p>
                    </div>
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0">{{ profile.user }}</p>
                    </div>
                </div>
                <div class="row row-margins">
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0 text-black font-decoration">Phone Number:</p>
                    </div>
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0">{{ profile.default_phone_number }}</p>
                    </div>
                </div>
                <div class="row row-margins">
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0 text-black font-decoration">Address 1:</p>
                    </div>
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0">{{ profile.default_street_address1 }}</p>
                    </div>
                </div>
                <div class="row row-margins">
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0 text-black font-decoration">Address 2:</p>
                    </div>
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0">{{ profile.default_street_address2 }}</p>
                    </div>
                </div>
                <div class="row row-margins">
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0 text-black font-decoration">City:</p>
                    </div>
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0">{{ profile.default_town_or_city }}</p>
                    </div>
                </div>
                <div class="row row-margins">
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0 text-black font-decoration">County:</p>
                    </div>
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0">{{ profile.default_county }}</p>
                    </div>
                </div>
                <div class="row row-margins">
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0 text-black font-decoration">Postcode:</p>
                    </div>
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0">{{ profile.default_postcode }}</p>
                    </div>
                </div>
                <div class="row row-margins">
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0 text-black font-decoration">Country:</p>
                    </div>
                    <div class="col-12 col-md-6 .offset-md-6">
                        <p class="mb-0">{{ profile.default_country }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card checkout-card">
            <div class="card-body">
                <h5 class="card-title decoration">Order History</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{% endblock %}