{% extends "base.html" %}

{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
        <div class="card checkout-card">
            <div class="card-body">
                <h5 class="card-title decoration">My Profile</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card checkout-card">
            <div class="card-body">
                <h5 class="card-title decoration">Order History</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{% endblock %}