{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-8 mx-auto">
        <div class="card checkout-card">
            <div class="card-body order-card">
                <h5 class="card-title order-summary">Order Summary</h5>
                <div class="img-thumbnail order-card-image">

                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">Order Number</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">Order Date</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="small mb-0 text-black font-decoration">
                                {{ item.tour.tour_title }}
                            </p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="small mb-0">{{ item.quantity }} at €{{ item.tour.tour_price }} each</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">Order Total</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">€{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row row-margins">
                        <div class="col">
                            <span class="text-muted decoration">Billing Information</span>
                        </div>
                    </div>

                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">Full Name</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">Address 1</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">Address 2</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">County</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">Town or City</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">Country</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row row-margins">
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0 text-black font-decoration">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-6 .offset-md-6">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                </div>

                <div class="row row-margins">
                    <div class="col">
                        <a href="{% url 'tours' %}" class="btn btn-primary mx-auto button-detail">Return To Tours</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}