body {
    background: url('/media/paris-image.jpg') no-repeat;
    background-size: cover;
    background-color: azure;
    text-align: center;
}

.main-container {
    min-height: calc(100vh);
}

.image-detail {
    max-width: 700px;
}

.total {
    text-align: right;
    margin-right: 20px;
}

#form-dimensions {
    max-width: 150px;
}

.tour-image-detail {
    max-width: 250px;
}

.input-margins {
    margin: 10px;
}

.auth-card {
    width: 50%;
    margin-top: 100px;
}

.table-align {
    text-align: left;
}

.auth-button {
    margin-bottom: 20px;
}

.card-detail {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.button-detail {
    width: 30%;
    margin-top: 10px;
}

.basket-margin {
    padding-top: 250px;
    width: 65%;
    margin: auto;
}

.image-basket-detail {
    max-width: 100px;
    height: auto;
}

.navbar-margin {
    margin-left: 16px;
}

.card-margin {
    margin: 30px 0px;
}

.card-height {
    height: 98%;
    margin-left: 10px;
    margin-right: 10px;
}

.checkout-card {
    margin: 30px;
}

/* Media Queries */

@media screen and (max-width: 740px) {
    .auth-card {
        width: 80%;
        margin-top: 60px;
    }

    .checkout-card {
        margin: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 540px) {
    .image-detail {
        width: auto;
    }

    .auth-card {
        width: 98%;
        margin-top: 60px;
    }
}