body {
    background: url('/media/paris-image.jpg') no-repeat;
    background-size: cover;
    background-color: azure;
    text-align: center;
}

form div {
    margin: 15px;
}

.main-container {
    min-height: calc(100vh - 64px);
}

.image-detail {
    max-width: 700px;
}

.order-dimensions {
    max-height: 529px;
    overflow-y: auto;
}

.total {
    text-align: right;
    margin-right: 20px;
}

#form-dimensions {
    max-width: 150px;
}

.tour-image-detail {
    max-width: 250px;
}

.input-margins {
    margin: 10px;
}

.auth-card {
    width: 50%;
    margin-top: 100px;
}

.row-margins {
    margin-bottom: 5px;
}

.table-align {
    text-align: left;
}

.auth-button {
    margin-bottom: 20px;
}

.card-detail {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.button-detail {
    margin-top: 10px;
}

.basket-margin {
    padding-top: 250px;
    width: 65%;
    margin: auto;
}

.image-basket-detail {
    max-width: 100px;
    height: auto;
}

.navbar-margin {
    margin-left: 16px;
}

.decoration {
    text-decoration: underline;
}

.font-decoration {
    font-weight: bold;
}

.order-card-image {
    border: solid black 1px;
    background-color: aliceblue;
    padding: 10px;
}

.welcome-message {
    margin-top: 15px;
}

.card-margin {
    margin: 30px 0px;
}

.tour-titles {
    text-decoration: none;
    color: #212529d5;
}

.newsletter-color {
    color: #212529;
}

.newsletter-button {
    margin: 10px;
}

.control-buttons {
    text-decoration: none;
    margin: 10px;
}

.hr-margin {
    margin: 0px 20px;
}

.card-dimensions {
    margin: 15px 0px;
}

.card-info-dimensions {
    min-height: 529px;
}

.order-summary {
    margin-bottom: 20px;
}

.order-card {
    padding: 20px;
}

.card-height {
    height: 98%;
    margin-left: 10px;
    margin-right: 10px;
}

.checkout-card {
    margin: 30px;
}

footer div a i {
    font-size: 150%;
    margin: 10px;
}

/* Media Queries */

@media screen and (max-width: 740px) {
    .auth-card {
        width: 80%;
        margin-top: 60px;
    }

    .checkout-card {
        margin: 10px 0px 0px 0px;
    }

    .button-detail {
        width: unset;
        margin-top: 10px;
    }
}

@media screen and (max-width: 540px) {
    .image-detail {
        width: auto;
    }

    .card-margin {
        margin: 30px 5px;
    }

    .auth-card {
        width: 98%;
        margin-top: 60px;
    }
}