body {
    background: url('/media/paris-image.jpg') no-repeat;
    background-size: cover;
    background-color: azure;
    text-align: center;
}

.main-container {
    min-height: calc(100vh);
}

.image-detail {
    width: 65%;
}

.card-detail {
    height: 460px;
    width: 78%;
}

.card-margin {
    margin: 20px 0px;
}

.checkout-card {
    margin: 30px;
}

/* Media Queries */

@media screen and (max-width: 540px) {
    .image-detail {
        width: auto;
    }
}