{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- 404 Error Message -->
<div class="row">
    <div class="col-sm-8 mx-auto">
        <div class="card checkout-card">
            <div class="card-body order-card">
                <h1>You Seem Lost</h1>
                <p>404 Error</p>
                <p>Page Not Found</p>
                <p>The page you are looking for isn't available</p>
                <div class="row row-margins">
                    <div class="col">
                        <a href="{% url 'tours' %}" class="btn btn-primary mx-auto button-detail">Return To Safety</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}