{% extends "base.html" %}

{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-8 mx-auto">
        <div class="card checkout-card card-margin">
            <div class="card-body">
                <h5 class="card-title decoration">Tour Management</h5>
                <div class="row row-margins">

                    <form class="mb-3" action="{% url 'add_tour' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary input-margins">Add Tour</button>
                        <a href="{% url 'tours' %}" class="btn btn-primary">Cancel Update</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}