{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- tour detail page -->
<div class="card-margin">
    <div class="card card-body mx-auto image-detail">
        {% if tour.tour_image %}
        <img class="card-img-top img-thumbnail card-detail mx-auto" src="{{ tour.tour_image.url }}" alt="{{ tour.tour_title }}">
        {% else %}
        <img class="card-img-top img-thumbnail card-detail mx-auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ tour.tour_title }}">
        {% endif %}
        <div>
            <hr>
            <h5 class="card-title">{{ tour.tour_title }}</h5>
            <p class="card-text">{{ tour.tour_description }}</p>
            <p class="card-text">Meet at: {{ tour.schedule.location }} | Day: {{ tour.schedule.scheduled_day }} | Time: {{ tour.schedule.meeting_time }}</p>
            <p class="card-text">Tour Guide: {{ tour.guide }} | Nationality: {{ tour.guide.nationality }}</p>
            <p class="card-text">Years of tour experience: {{ tour.guide.experience }}</p>
            <p class="card-text">Price: €{{ tour.tour_price }}</p>
            <form class="form-inline" action="{% url 'add_to_basket' tour.id %}" method="POST">
                {% csrf_token %}
                <span>Quantity: </span>
                <input class="form-inline qty_input mb-2 mr-sm-2" type="number" name="quantity" value="1"
                    min="1" max="10" data-tour_id="{{ tour.id }}" id="id_qty_{{ tour.id }}">

                <!-- superuser controls -->
                {% if request.user.is_superuser %}
                <div>
                    <span><a href="{% url 'edit_tour' tour.id %}" class="control-buttons">Edit</a></span>
                    <span><a href="{% url 'delete_tour' tour.id %}" class="control-buttons text-danger">Delete</a></span>
                </div>
                {% endif %}
                <div class="mx-auto">
                    <input type="submit" class="btn btn-primary" value="Add to Basket!">
                    <a href="{% url 'tours' %}" class="btn btn-primary">Add Another Tour</a>
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
</div>

{% endblock %}